* {
  font-size: 18px;
  font-family: "JetBrainsMono Nerd Font";
  border-radius: 10px;
}

window {
	background-image: url("file:///home/adam/Pictures/Wallpaper/3_blur.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  color: #fff;
  background-color: rgba(26, 27, 38, 0.6);
  outline-style: none;
  border: none;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  padding: 20px;
}

button:hover,
button:focus {
  color: #7aa2f7;
  background-color: rgba(26, 27, 38, 0.8);
  background-size: 40%;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}

#lock,
#hibernate,
#logout,
#suspend,
#shutdown,
#reboot {
  margin: 2px;
}

